<div id="quizz-page" *ngIf="film">
  <div id="quizz-page-header">
    <!-- <img src="./assets/films/{{ film.id }}.jpg" alt="{{ film.title }}" class="film-img"> -->
    <div id="quizz-page-header-content">
      <h1>Find all characters in {{ film.title }}</h1>
      <input id="user-input" #userInput (input)="userInputChange(userInput.value)" type="text" placeholder="Type a character name">
      <button (click)="showResult()">Show me</button>
    </div>
  </div>
  <div id="quizz-page-body" *ngIf="peoplesInFilm">
    <div class="people" [ngClass]="{'hidden' : !people.isFound }" *ngFor="let people of peoplesInFilm">
      <p class="people-name">{{ people.name }}</p>
    </div>
  </div>
</div>
